/*
@media not|only mediatypes and (expressions) {
    CSS-Code
}

mediatypes ( all screen print )
*/

:root {
    --h:150px;
    --f:50px;
    --m:4;
    --c:rgb(9, 212, 87);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
    height: var(--h);
    line-height: var(--h);
    font-size: var(--f);
    font-weight:bold;
    margin-right: 30px;
    margin-top: 0px;
}
header {
    background-color: var(--c);
    height: var(--h);
}
ul {
    list-style-type: none;
    display: flex;
	flex-flow: row wrap;
}
li a {
    display: block;
    font-size: calc(var(--f)*0.8);
    padding: 15px 20px;
}

a {
    color: #000;
    text-decoration-line: none;
}

@media screen and (max-width: 1024px) {

    .logo {
        height: calc(var(--h)*var(--m));
        line-height: calc(var(--h)*var(--m));
        font-size: calc(var(--f)*var(--m));
        font-weight:bold;
        margin-right: 30px;
        margin-top: 0px;
    }

    header {
        background-color: var(--c);
        height: calc(var(--h)*var(--m));
    }

    li a {
        display: block;
        font-size: calc(var(--h)*var(--m)*0.8) ;
        padding: 15px 20px;
    }
    
}

/*
 
.prim {
    height: 1000px;
    background-image: url('image/bg.png');
    background-repeat: no-repeat;
}
.tit {
	height: var(--h);
	line-height: var(--h);
	text-align: center;
    font-size: 60px;
    margin: 200px auto 0px auto;
}

details {
	height: var(--h0);
	line-height: var(--h0);
	text-align: center;
    font-size: 40px;
    margin: 0px auto;
    border: 3px solid gray;
    border-radius: 50px;
    background-color: rgb(32, 32, 32);
    width: 40%;
}

details:hover {
    background-color: rgb(48, 46, 46);
}

details > p{
    background-color: rgb(32, 32, 32);
    border: none;
    margin: 0px;
}

details > p:hover {
    background-color: rgb(48, 46, 46);
}

.last {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
 
h1 {
	height: var(--h);
	line-height: var(--h);
	text-align: center;
    font-size: 60px;
    margin: 30px auto 100px auto;
}
 
article {
    border: 2px solid var(--c);
    border-radius: 10px;
    margin: 0px 15px 200px 15px;
    display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

article > div > p {
    font-size: 40px;
    margin: 10px;
}

article > img {
    border-radius: 10px;
    margin: 10px;
}
 
footer {
    background-color: var(--c);
    height: 300px;
}
footer > div {
    display: flex;
	flex-flow: row wrap;
    flex-direction: row-reverse;
}

.ft {
    direction: ltr;
    padding: 15px 20px;
    font-size: 35px;
}

.ftp {
    direction: rtl;
    padding: 15px 20px;
	justify-content: space-between;
    font-size: 45px;
}
 
.ab {
	height: var(--h);
	line-height: var(--h);
	text-align: center;
    font-size: 60px;
    margin: 50px auto 0px auto;
}

.iab {
    margin: 30px auto;
    display: block; 
    height: 200px;
    width: 200px;
}
 
.s {
    height: var(--h);
    line-height: var(--h);
    font-size: 50px;
    font-weight:bold;
    margin-right: 30px;
    margin-top: 0px;
}
*/